ABOUT-NLS
INSTALL
missing
compile
ChangeLog
configure
config.*
depcomp
gtk-doc.make
install-sh
libtool
ltmain.sh
m4
autom4te.cache
aclocal.m4
*~
#*
Makefile
Makefile.in
*~
#*
.#*
*.lo
stamp*
*/*~
*/#*
*/.#*
*/*.lo
*/*.la
*/stamp*
*/.deps
*/.libs

